// ==========================================================================
// = Variables
// ==========================================================================
$breakpoint-desktop-hd: 1920px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-tablet-portrait: 600px;
$breakpoint-phone: 320px;

$content-max-width: 1230px;
$content-padding: 24px;

// black and white
$color-white: #fff;
$color-black: #000;

// custom colors
$color-background: #121212;
$color-background-copyright: #252525;
$color-header: #252525;
$color-body: #515151;
$color-body-copyright: #ffffff91;
$color-secondary: #bf9f68;
$color-primary: #c59d5f;
$color-primary-dark: #8d7144;
$color-error: #d50042;

// transition
$transition-timing: ease-in-out 0.3s;

//header-height - necessary for mobile
$header-height-mobile: 85px;
