* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

html {
  color: $color-body;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

hgroup {
  display: flex;
  flex-direction: column-reverse;
}

.inner {
  margin: 0 auto;
  max-width: $content-max-width - (2 * $content-padding);
  padding: 0 $content-padding;
}

picture {
  display: block;
  height: 100%;

  img {
    height: auto;
    width: 100%;
  }
}

img {
  width: 100%;
}

.icon-container {
  display: inline-block;
  line-height: 1;
  vertical-align: top;

  .icon {
    color: currentColor;
    display: inline-block;
    fill: currentColor;
    height: 1.8rem;
    vertical-align: middle;
    width: 1.8rem;
  }
}

.link {
  color: $color-secondary;
  margin-block: 2rem;
}

li {
  display: inline-flex;

  a {
    color: inherit;
    line-height: 1.5;
    overflow: hidden;
    padding-block: 0.5rem;
    position: relative;
    text-decoration-line: none;
    transition: color 0.2s ease-in;
    width: auto;

    &:hover,
    &:focus {
      color: $color-primary;
    }

    &::before {
      border: 1px solid currentColor;
      border: 1.5px solid currentColor;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      transform-origin: center left;
      transform: scale3d(0, 1, 1);
      transition-delay: 3s;
      transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
      width: 0;
    }

    &:hover::before,
    &:focus::before {
      transition-delay: 0s;
      transform: scale3d(1, 1, 1);
      width: 100%;
    }
  }
}

.router-link-active {
  color: $color-primary;

  &::before {
    border: 1px solid inherit;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    transform-origin: center left;
    transform: scale3d(1, 1, 1);
    width: 100%;

    .logo & {
      border: 0;
      width: 0;
    }
  }
}
